body{
  background-image: url('thoughts.jpg');

}

@font-face {
  font-family: Ninja;
  src: url(njnaruto.ttf);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Ninja";

}
p {
  color: #ff0000
}

#jumpscare {
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
